<div class="song">
	<div class="jacket">
		{{#if album.cover }}
			<img width="45" height="45" src={{ album.cover }}>
		{{else}}
			<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<path d="M12,5 L12,13.55 C11.06,13.01 9.9,12.8 8.67,13.23 C7.33,13.71 6.3,14.9 6.06,16.3 C5.6,19.04 7.92,21.38 10.65,20.95 C12.61,20.64 14,18.84 14,16.85 L14,7 L16,7 C17.1,7 18,6.1 18,5 C18,3.9 17.1,3 16,3 L14,3 C12.9,3 12,3.9 12,5 Z" id="Path" fill="#3B3A3A" fill-rule="nonzero"></path>
			</svg>
		{{/if}}
	</div>
	<div class="right">
		<div class="info title-artist"><a href={{ musicbrainz }} class="title">{{ name }}</a><a href={{ artist.musicbrainz }} class="artist"> - {{ artist.name }}</a></div>
		<a href={{ album.musicbrainz }} class="info album">{{ album.name }}</a>
		<div class="info public-length">{{ length }}</div>
	</div>
</div>