<div class="topbar" id="topbar">
	<button class="hamburger hamburger--elastic" id="menu-button" type="button" onclick="toggleTopBarMenu()">
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</button>
	<div class="topbar-content">
		<a href="/" class="title-logo">
			<img class="logo" src="/assets/img/icon.png" />
			<div class="title">Playlist Manager</div>
		</a>
		<div class="items">
			<a href="/about" class="item">About Us</a>
			<a href="/contact" class="item">Contact</a>
			<a href="/login" class="item">Sign in</a>
		</div>
	</div>
</div>