<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/css/hamburgers.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/message.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
		{{#if profile}}
			<link href="/assets/css/menu.css" rel="stylesheet" type="text/css"/>
		{{/if}}
		<link rel="icon" type="image/png" href="/assets/img/favicon.png">
		{{#each styles}}
			<link href="/assets/css/{{ this }}" rel="stylesheet" type="text/css"/>
		{{/each}}
		<script src="/static/js/main.js"></script>
		<title>{{ title }}</title>
	</head>
	<body>
		<span>{{{body}}}</span>
		{{#ueq message undefined}}
			{{> message}}
		{{/ueq}}
		<noscript>
			<div class="js-prompt">
				<div>Do yourself a favor and enable JavaScript.</div>
			</div>
		</noscript>
	</body>
</html>