{{#if profile}}
	<div class="background"></div>
{{else}}
		{{> topbar}}
{{/if}}
<div class="content {{#if profile}}right{{/if}}">
	<div class="card">
		<div class="title">The project</div>
		<div class="description">As part of the Next Generation Web course at Jönköping Univeristy, I was given the change to design and create this platform. It allows users to create, organize and share their musical tastes in the form of playlists. The platform was built around techonologies like HTML, CSS and NodeJS. I hope you'll enjoy it and don't hesitate to reach out!<br><br><span style="text-align: right;">Cheers, Charles</span></div>
		<a target="_blank" href="http://gitlab.com/jonkoping-university/" class="project-button">GitLab Project</a>
	</div>
</div>
{{#if profile}}
	{{> menu }}
{{/if}}