<div class="content {{#if profile}}right{{/if}}">
	<div class="card">
		<div class="title">In need of help?</div>
		<div class="description">Shoot us an email and we'll get back <br>to you as soon as we can.</div>
		<a href="mailto:charles.aubert@epitech.eu" class="contact-button">Contact us</a>
	</div>
</div>
{{#if profile}}
	<div class="background"></div>
	{{> menu }}
{{else}}
	{{> topbar}}
{{/if}}