{{> topbar}}
<div class="content">
	<div class="card">
		<div class="title">Your music,<br />organised.</div>
		<div class="form">
			<form id="signin-form" class="inputs" action="/accounts/authenticate" method="post">
				<div class="input">
					<input class="field" type="email" name="email" placeholder="email"/>
				</div>
				<div class="input">
					<input class="field" name="password" placeholder="password" type="password"/>
				</div>
				<input type="hidden" name="_csrf" value="{{ csrfToken }}">
				<button class="signin-button" type="submit" value="Submit">
					<a class="title">Sign in</a>
				</button>
			</form>
		</div>
		<div class="description">
			<span class="span1">Don’t have an account yet? </span><span class="span2"><a href="/signup">Sign up here.</a></span>
		</div>
	</div>
</div>