<div class="background"></div>
<div class="modal" id="nameDialog">
	<a class="background" href="#"></a>
	<div class="card">
		<div id="edit-name-field">
			<form id="name-form" action="/playlists/modify" method="post">
				<input type="hidden" value="{{ playlist.id }}" name="playlist" />
				<input type="hidden" value="{{#if playlist.private }}true{{else}}false{{/if}}" name="private" />
				<input class="field" value="{{ playlist.name }}" type="text" name="name" placeholder="Playlist name" maxlength="320" minlength="1"/>
				<input type="hidden" name="_csrf" value="{{ csrfToken }}">
				<button type="submit">
					<div class="title">Save</div>
				</button>
			</form>
		</div>
	</div>
</div>
<div class="content-container">
	<div class="content">
		<a href="/playlists{{#ueq profile.id playlist.owner_id }}?owner={{ playlist.owner_id }}{{/ueq}}" class="back-button">
			<svg class="shape" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path opacity=".87" fill="none" d="M0 0h24v24H0V0z"/><path d="M16.62 2.99c-.49-.49-1.28-.49-1.77 0L6.54 11.3c-.39.39-.39 1.02 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76z"/></svg>
		</a>
		<div class="playlist">
			<div class="jacket">
				<svg class="shape" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-3 5h-2v5.37c0 1.27-.9 2.44-2.16 2.6-1.69.23-3.11-1.25-2.8-2.95.2-1.1 1.18-1.95 2.3-2.02.63-.04 1.2.16 1.66.51V6c0-.55.45-1 1-1h2c.55 0 1 .45 1 1s-.45 1-1 1zM3 6c-.55 0-1 .45-1 1v13c0 1.1.9 2 2 2h13c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1-.45-1-1V7c0-.55-.45-1-1-1z"/></svg>
			</div>
			<div class="playlist-content">
				<div class="infos">
					<div class="title">{{ playlist.name }}</div>
					<div class="modified">Modified {{ playlist.modified }}</div>
					{{#eq profile.id playlist.owner_id }}
						<div class="modifiers">
							<form class="privacy" action="/playlists/modify" method="post">
								<input type="hidden" value="{{ playlist.id }}" name="playlist" />
								<input type="hidden" value="{{ playlist.name }}" name="name" />
								<input type="hidden" value="{{#if playlist.private }}false{{else}}true{{/if}}" name="private" />
								<input type="hidden" name="_csrf" value="{{ csrfToken }}">
								<button type="submit">
									<div class="icon">
										{{#if playlist.private}}<svg class="shape" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="M0 0h24v24H0V0z"/><path opacity=".87" d="M0 0h24v24H0V0z"/></g><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zM9 8V6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9z"/></svg>{{else}}<svg class="shape" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-.61.08-1.21.21-1.78L8.99 15v1c0 1.1.9 2 2 2v1.93C7.06 19.43 4 16.07 4 12zm13.89 5.4c-.26-.81-1-1.4-1.9-1.4h-1v-3c0-.55-.45-1-1-1h-6v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41C17.92 5.77 20 8.65 20 12c0 2.08-.81 3.98-2.11 5.4z"/></svg>{{/if}}
									</div>
									<div class="title">{{#if playlist.private}}Private{{else}}Public{{/if}}</div>
								</button>
							</form>
							<div class="edit">
								<a href="#nameDialog">Edit</a>
							</div>
							<form class="delete" action="/playlists/delete" method="post">
								<input type="hidden" value="{{ playlist.id }}" name="playlist" />
								<input type="hidden" name="_csrf" value="{{ csrfToken }}">
								<button type="submit">Delete</button>
							</form>
						</div>
					{{/eq}}
				</div>
				{{#eq profile.id playlist.owner_id }}
					<div class="add-song">
						<a href="/playlists/{{ playlist.id }}/songs">
							<div class="label">Add song</div>
							<div class="icon">
								<svg class="shape" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4 11h-3v3c0 .55-.45 1-1 1s-1-.45-1-1v-3H8c-.55 0-1-.45-1-1s.45-1 1-1h3V8c0-.55.45-1 1-1s1 .45 1 1v3h3c.55 0 1 .45 1 1s-.45 1-1 1z"/></svg>
							</div>
						</a>
					</div>
				{{/eq}}
				{{#if songs}}
					<div class="song-property-labels">
						<div class="label">Song - Artist</div>
						<div class="label">Album</div>
						<div class="label length">Length</div>
					</div>
				{{/if}}
				<div class="songs" id="songs-container">
					{{#eq profile.id playlist.owner_id }}
						{{#each songs}}
							{{> songRow this parent=..}}
						{{/each}}
					{{else}}
						{{#each songs}}
							{{> publicSongRow this}}
						{{/each}}
					{{/eq}}
				</div>
			</div>
		</div>
	</div>
	{{#if profile}}
		{{> menu }}
	{{/if}}
</div>