<div class="background"></div>
<div class="modal" id="modalDialog">
	<a class="background" href="#"></a>
	<div class="card">
		<form id="playlist-form" action="/playlists" method="post">
			<input class="field" type="text" name="name" placeholder="Playlist name" maxlength="128" minlength="1"/>
			<input type="hidden" name="_csrf" value="{{ csrfToken }}">
			<button type="submit">
				<div class="title">Create</div>
			</button>
		</form>
	</div>
</div>
<div class="content-container">
	<div class="content">
		{{#if account }}
			<a href="/accounts" class="back-button">
				<svg class="shape" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path opacity=".87" fill="none" d="M0 0h24v24H0V0z"/><path d="M16.62 2.99c-.49-.49-1.28-.49-1.77 0L6.54 11.3c-.39.39-.39 1.02 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76z"/></svg>
			</a>
			<div class="profile">
				<div class="name">{{ account.fullname }}</div>
			</div>
		{{else}}
			<a class="add-playlist" href="#modalDialog">
				<svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4 11h-3v3c0 .55-.45 1-1 1s-1-.45-1-1v-3H8c-.55 0-1-.45-1-1s.45-1 1-1h3V8c0-.55.45-1 1-1s1 .45 1 1v3h3c.55 0 1 .45 1 1s-.45 1-1 1z"/></svg>
				<span class="label">New playlist</space>
			</a>
		{{/if}}
		<div class="playlists" id="playlists-container">
			{{#each playlists}}
				{{> playlistCard this }}
			{{/each}}
		</div>
	</div>
	{{#if profile}}
		{{> menu }}
	{{/if}}
</div>