{{> topbar}}
<div class="content">
	<div class="card">
		<div class="title">Your music,<br />organised.</div>
		<div class="form">
			<form id="signup-form" class="inputs" action="/accounts/signup" method="post">
				<div class="input">
					<input class="field" name="fullname" placeholder="full name"/>
				</div>
				<div class="input">
					<input class="field" name="email" placeholder="email"/>
				</div>
				<div class="input">
					<input class="field" name="password" placeholder="password" type="password"/>
				</div>
				<div class="input">
					<input class="field" name="cpassword" placeholder="confirm password" type="password"/>
				</div>
				<button class="signup-button" type="submit">
					<a class="title">Sign up</a>
				</button>
				<input type="hidden" name="_csrf" value="{{ csrfToken }}">
			</form>
		</div>
		<div class="description">
			<span class="span1">Already have an account? </span><span class="span2"><a href="/login"> Sign in here.</a></span>
		</div>
	</div>
</div>