@import url('https://fonts.googleapis.com/css?family=Overpass:600,700,400|Lato:900,400|Archivo+Black:400|Hind:600');

.content {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/background-clear.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.content.right {
  width: calc(100% - 330px);
  padding: 40px;
  margin-left: 250px;
  height: calc(100% - 80px);
  position: fixed;
  background-color: rgba(14, 15, 20, 0.9);
  background-image: url("/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow-y: scroll;
}

.card {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
  background-image: linear-gradient(rgba(38, 39, 40, 1), rgba(38, 39, 40, 0.9));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  position: relative;
}

.card .title {
  font-family: "Archivo Black", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  letter-spacing: -0.3px;
}

.project-button {
  margin-top: 30px;
  border-radius: 15px;
  background-color: #1A1B1B;
  padding: 15px 40px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: "Lato", Helvetica, Arial, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25.0px;
  color: rgba(255, 255, 255, 1.0);
  letter-spacing: -0.25px;
}

.card .description {
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 20.0px;
  color: rgba(198, 198, 198, 1.0);
  text-align: left;
  letter-spacing: -0.12px;
  line-height: 24.0px;
  margin-top: 15px;
}

@media only screen and (max-width: 770px) {
  .content.right {
    width: calc(100% - 80px);
    padding-top: 90px;
    margin-left: 0px;
    height: calc(100% - 130px);
    overflow-y: scroll;
    align-items: flex-start;
  }

  .card .title {
    font-size: 20.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    letter-spacing: -0.3px;
    line-height: 66.0px;
  }

  .card {
    padding: 15px;
  }

  .card .description {
    font-size: 15.0px;
  }

  .project-button {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 20px;
  }
}