@import url('https://fonts.googleapis.com/css?family=Overpass:600,700,400|Lato:900,400|Archivo+Black:400|Hind:600');

.topbar {
  transform: translate(0px, -80px);
  -webkit-transform: translate(0px, -80px);
  animation: translate-menu 1s ease forwards 2.5s;
  -webkit-animation: translate-menu 1s ease forwards 2.5s;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.foreground {
  width: 100%;
  background-color: transparent;
  animation: darken 1s ease forwards 1s;
  -webkit-animation: darken 1s ease forwards 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.section {
  width: 100%;
  height: auto;
}

.section:nth-child(1) {
  background-image: url("/assets/img/background-clear.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#motto-one {
  width: 380px;
  margin-top: 80px;
  fill: transparent;
  animation: fill 2s forwards 1s;
  -webkit-animation: fill 2s forwards 1s;
  height: 100px;
}

#motto-two {
  fill: transparent;
  animation: dot 1s ease forwards 2.5s;
  -webkit-animation: dot 1s ease forwards 2.5s;
  height: 100px;
  margin-top: 10px;
  width: 380px;
}

#first-line {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  stroke: white;
  stroke-width: 1px;
  animation: draw 4s ease forwards;
  -webkit-animation: draw 4s ease forwards;
}

.albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  width: 50%;
}

.jacket {
  width: 10em;
  height: 10em;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0;
  animation: appear 4s ease forwards, organized 2s ease forwards 1s;
  -webkit-animation: appear 4s ease forwards, organized 2s ease forwards 1s;
}

.jacket img {
  width: 100%;
  height: 100%;
  border-radius: 5em;
  animation: appear 4s ease forwards, organized 2s ease forwards 1s;
  -webkit-animation: appear 4s ease forwards, organized 2s ease forwards 1s;
}

.jacket:nth-child(1) {
  transform: translate(-100px, 120px);
  -webkit-transform: translate(-100px, 120px);
}

.jacket:nth-child(2) {
  transform: translate(-40px, -50px);
  -webkit-transform: translate(-40px, -50px);
}

.jacket:nth-child(3) {
  transform: translate(60px, 100px);
  -webkit-transform: translate(60px, 100px);
}

.jacket:nth-child(4) {
  transform: translate(90px, -100px);
  -webkit-transform: translate(90px, -100px);
}

.jacket:nth-child(5) {
  transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
}

.jacket:nth-child(7) {
  transform: translate(60px, 150px);
  -webkit-transform: translate(60px, 150px);
}

.jacket:nth-child(8) {
  transform: translate(200px, 50px);
  -webkit-transform: translate(200px, 50px);
}

.section:nth-child(2) {
  background-image: url("/assets/img/background-dark.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mac {
  max-width: 600px;
  max-height: 380px;
  display: block;
  margin: auto;
}

.section .title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: -0.24px;
  text-align: center;
  margin-top: 50px;
}

.section .features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 120px;
}

.section .features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section .features .feature .label {
  font-family: "Lato";
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: -0.18px;
  text-align: center;
  margin-top: 20px;
}

.section .features .feature .icon {
  width: 40px;
  fill: white;
}

.section .cover-image {
  width: 100%;
}

.section:nth-child(4) {
  background-image: url("/assets/img/background-dark.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section:nth-child(4) .explore-icon {
  width: 100px;
  height: 100px;
  fill: white;
  margin: auto;
  margin-top: 50px;
  display: block;
}

.get-started-button {
  border-radius: 20px;
  background-color: rgb(70, 70, 70);
  padding: 15px 50px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: "Lato", Helvetica, Arial, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25.0px;
  color: rgba(255, 255, 255, 1.0);
  letter-spacing: -0.18px;
  margin-top: 40px;
}

.section:nth-child(5) {
  background-color: #1B1C20;
  display: block;
  text-align: center;
  padding: 40px 0px;
}

.section:nth-child(5) a {
  font-family: "Lato", Helvetica, Arial, serif;
  font-weight: 400;
  font-size: 20.0px;

  letter-spacing: -0.15px;
  text-decoration: none;
  color: white;
}

@keyframes draw {
  from {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  } to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  } to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  } to {
    fill: white;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  } to {
    fill: white;
  }
}

@keyframes album-movement {
  from {
    transform:  rotate(0deg)
                translate(-5px)
                rotate(0deg);
  }
  to {
    transform:  rotate(360deg)
                translate(-5px)
                rotate(-360deg);
  }
}

@-webkit-keyframes album-movement {
  from {
    transform:  rotate(0deg)
                translate(-5px)
                rotate(0deg);
  }
  to {
    transform:  rotate(360deg)
                translate(-5px)
                rotate(-360deg);
  }
}

@keyframes album-movement-reverse {
  from {
    transform:  rotate(0deg)
                translate(5px)
                rotate(0deg);
  }
  to {
    transform:  rotate(360deg)
                translate(5px)
                rotate(-360deg);
  }
}

@-webkit-keyframes album-movement-reverse {
  from {
    transform:  rotate(0deg)
                translate(5px)
                rotate(0deg);
  }
  to {
    transform:  rotate(360deg)
                translate(5px)
                rotate(-360deg);
  }
}

@keyframes organized {
  to {
    transform: translate(0);
    border-radius: 5px;
  }
}

@-webkit-keyframes organized {
  to {
    transform: translate(0);
    border-radius: 5px;
  }
}

@keyframes dot {
  from {
    transform: scale(0.5);
    fill: transparent;
  }
  to {
    transform: scale(1.0);
    fill: white;
  }
}

@-webkit-keyframes dot {
  from {
    transform: scale(0.5);
    fill: transparent;
  }
  to {
    transform: scale(1.0);
    fill: white;
  }
}

@keyframes dot-small {
  from {
    transform: scale(0.25);
    fill: transparent;
  }
  to {
    transform: scale(0.5);
    fill: white;
  }
}

@-webkit-keyframes dot-small {
  from {
    transform: scale(0.25);
    fill: transparent;
  }
  to {
    transform: scale(0.5);
    fill: white;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes translate-menu {
  to {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes translate-menu {
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes darken {
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@-webkit-keyframes darken {
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 1600px) {
  .jacket:nth-child(7), .jacket:nth-child(8) {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .jacket:nth-child(5), .jacket:nth-child(6) {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .albums {
    padding: 20px;
    width: 70%;
  }
}

@media only screen and (max-width: 770px) {
  #motto-one {
    /* width: 190px;
    height: 50px; */
    margin-top: 40px;
    transform: scale(0.5);
  }

  #motto-two {
    /* width: 190px;
    height: 50px; */
    margin-top: -40px;
    animation: dot-small 1s ease forwards 2.5s;
    -webkit-animation: dot-small 1s ease forwards 2.5s;
  }

  .albums {
    margin-top: 0px;
  }

  .foreground {
    padding-bottom: 10px;
  }

  .section .title {
    font-size: 20px;
  }

  .mac {
    width: calc(100% - 40px);
  }

  .section .features {
    flex-direction: column;
    margin-top: 20px;
  }

  .section .features .feature .label {
    font-size: 17px;
    margin-top: 10px;
  }

  .section .features .feature .icon {
    width: 30px;
    margin-top: 20px;
  }

  .section:nth-child(4) .explore-icon {
    width: 40px;
    margin-top: 0px;
  }

  .section:nth-child(4) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .albums {
    width: auto;
  }
}

@media only screen and (max-width: 500px) {
  .jacket {
    height: calc(50% - 50px);
    width: calc(50% - 50px);
  }
}