@import url('https://fonts.googleapis.com/css?family=Overpass:600,700,400|Lato:900,400|Archivo+Black:400|Hind:600');

.content {
  width: calc(100% - 80px);
  height: calc(100% - 140px);
  padding: 40px;
  padding-top: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/assets/img/background-clear.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.card {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-radius: 15px;
  background-image: linear-gradient(rgba(38, 39, 40, 1), rgba(38, 39, 40, 0.9));
}

.card .title {
  font-family: "Archivo Black", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  letter-spacing: -0.3px;
}

.card .form #signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .form .inputs {
  margin-top: 30px;
}

.card .form .inputs .input {
  border-bottom: solid 1px white;
  height: 30px;
  padding: 10px;
  width: calc(100% - 20px);
}

.card .form .inputs .input .field {
  font-family: "Lato", Helvetica, Arial, serif;
  font-weight: 400;
  font-size: 20.0px;
  color: white;
  text-align: left;
  letter-spacing: -0.15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
}

.signin-button {
  margin-top: 30px;
  border-radius: 15px;
  background-color: #1A1B1B;
  padding: 15px 50px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.signin-button .title {
  font-family: "Lato", Helvetica, Arial, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20.0px;
  color: rgba(255, 255, 255, 1.0);
  letter-spacing: -0.18px;
}

.card .description {
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(198, 198, 198, 1.0);
  text-align: center;
  letter-spacing: -0.12px;
  line-height: 24.0px;
  margin-top: 15px;
}

.card .description .span2 a {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(198, 198, 198, 1.0);
}

@media only screen and (max-width: 770px) {
  .content {
    margin-left: 0px;
    overflow-y: scroll;
    align-items: flex-start;
  }

  .card .title {
    font-size: 20.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    letter-spacing: -0.3px;
  }

  .card {
    padding: 15px;
  }

  .card .form .inputs .input {
    padding: 10px 5px;
  }

  .card .description {
    font-size: 15.0px;
  }

  .signin-button {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 20px;
  }
}