body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: black;
}

a {
	text-decoration: none;
}

.content-container {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.background {
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.modal form {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.modal form button {
	border: none;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	cursor: pointer;
	margin-left: 20px;
}

.modal form .field {
	height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #353535;
	border-radius: 5px;
	font-family: "Overpass", Helvetica, Arial, serif;
	font-weight: 600;
	font-size: 20.0px;
	color: white;
	text-align: left;
	letter-spacing: -0.2px;
	border: none;
	margin: 0;
}

.modal form button .title {
	font-family: "Overpass", Helvetica, Arial, serif;
	font-weight: 600;
	font-size: 20.0px;
	color: white;
	text-align: left;
}

#modalDialog:target {
	display: flex;
	opacity: 1;
}

.modal .background {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: none;
	display: block;
	position: fixed;
	z-index: 2;
}

.card {
	background-color: #1C1C1E;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	z-index: 3;
}

.back-button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	background-color: #313131;
	border-radius: 40px;
}

.back-button .shape {
	width: 24px;
	height: 24px;
	fill: white;
}

.topbar {
	top: 0px;
	background-color: black;
	padding: 10px 30px;
	position: fixed;
	z-index: 3;
	width: calc(100% - 60px);
	overflow: hidden;
}

.topbar-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-family: "Lato", Helvetica, Arial, serif;
}

.topbar .title {
	font-weight: 900;
	font-size: 25.0px;
	text-align: left;
	letter-spacing: -0.15px;
	color: white;
}

.topbar .item {
	font-family: "Lato", Helvetica, Arial, serif;
	font-weight: 400;
	font-size: 20.0px;
	text-align: left;
	letter-spacing: -0.15px;
	margin-left: 30px;
	text-decoration: none;
	color: white;
}

.topbar .hamburger {
	display: none;
}

.title-logo {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.title-logo .logo {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-right: 20px;
}

.title-logo .title {
	font-weight: 900 !important;
	font-size: 25.0px !important;
	text-align: left !important;
	letter-spacing: -0.15px !important;
	margin: 0 !important;
}

.js-prompt {
	display: none;
	color: white;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 10;
	font-family: "Lato", Helvetica, Arial, serif;
	font-weight: 400;
	font-size: 20.0px;
}

.hamburger {
	padding: 0 !important;
	margin-top: 5px !important;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
	background-color: white !important;
	border-width: 5px;
	height: 2px;
	width: 25px;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
	background-color: white !important;
	border-width: 5px;
	height: 2px;
	width: 25px;
}

@media only screen and (max-width: 770px) {
	.js-prompt {
		display: flex;
	}

	.card {
		padding: 15px;
	}

	.content-container .content {
		width: calc(100% - 60px);
		margin: 0px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 70px;
	}

	.modal form button .title {
		font-size: 15px;
	}

	.modal form .field {
		font-size: 15px;
	}

	#topbar {
		transition: height 0.3s ease-out;
		height: 30px;
	}

	#topbar.active {
		transition: height 0.3s ease-out;
		height: 100%;
	}

	.topbar .items {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	.topbar .item {
		margin: 10px 0px;
	}

	.topbar-content {
		flex-direction: column;
		margin-top: 30px;
	}

	.topbar .hamburger {
		display: block;
	}
}

@media only screen and (max-width: 450px) {
	.modal form button {
		margin-top: 15px;
		margin-left: 0px;
	}

	.modal .field {
		width: calc(100% - 40px);
	}
}