.menu {
  background-color: rgba(38, 39, 40, 0.6);
  height: 100%;
  width: 250px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu .items {
  width: 100%;
  flex: auto;
}

.menu .items .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 60px);
  padding: 15px 30px;
}

.menu .items .item.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu .items .item:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu .items .item .shape {
  fill: #AAAAAA;
  height: 30px;
  width: 30px;
}

.menu .items .item:hover .shape {
  fill: white;
}

.menu .items .item.active .shape {
  fill: white;
}

.menu .items .item .label {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 1.2em;
  text-align: left;
  margin-left: 0.8em;
  color: rgba(170, 170, 170, 1);
}

.menu .items .item.active .label, .menu .items .item:hover .label {
  color: white;
}

.menu .profile {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 60px);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-bottom: solid 2px #3B3A3A;
}

.menu .profile a:hover {
  cursor: pointer;
}

.menu .profile .name {
  font-family: "Hind", Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 1.2em;
  color: white;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 20px;
  width: 100%;
}

.menu .profile .vignette .initials {
  font-family: "Lato", Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

.menu .profile .vignette {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.menu .profile .vignette .picture {
  height: 40px;
  height: 40px;
}

.menu .logout {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20.0px;
  color: rgba(186, 49, 0, 1.0);
  text-align: center;
  line-height: 31.0px;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 30px 20px 30px;
  margin: 0;
  cursor: pointer;
  border: none;
}

.menu-header {
  display: none;
  height: 50px;
  background-color: black;
  width: calc(100% - 30px);
  padding-left: 30px;
  color: white;
}

@media only screen and (max-width: 770px) {
  .menu {
    display: none;
    transition:height 0.3s ease-out;
    background-color: rgba(38, 39, 40, 1);
    width: 100%;
    align-items: center;
    height: 0px;
    overflow: hidden;
    top: 50px;
  }

  #menu.show {
    display: flex;
  }

  #menu.active {
    transition: height 0.3s ease-out;
    height: calc(100% - 50px);
  }

  .menu .profile {
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
  }

  .menu .profile .vignette {
    width: 50px;
    height: 50px;
  }

  .menu .profile .vignette .initials {
    font-size: 20px;
  }

  .menu .profile .name {
    margin-left: 15px;
    margin-top: 0px;
    width: auto;
  }

  .menu-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 2;
  }

  .menu .items .item {
    justify-content: center;
  }
}