.message-banner {
	position: fixed;
	z-index: 4;
	bottom: 20px;
	margin-left: 20px;
	padding: 20px 30px;
	right: 20px;
	border-radius: 10px;
	color: white;
	font-family: "Lato";
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0.25px;
	animation: slideOut 0.5s ease-out 5s forwards;
	-webkit-animation: slideOut 0.5s ease-out 5s forwards;
	background-color: black;
	text-align: center;
}

.message-banner:after {
	display: none;
}

.message-banner.success {
	background-color: #41AC5C;
}

.message-banner.warning {
	background-color: #CC9A47;
}

.message-banner.error {
	background-color: #D04C4C;
}

@keyframes slideOut {
	from {
		transform: translateX(0%);
	} to {
		transform: translateX(calc(100% + 25px));
	}
}

@-webkit-keyframes slideOut {
	from {
		transform: translateX(0%);
	} to {
		transform: translateX(calc(100% + 25px));
	}
}

@media only screen and (max-width: 770px) {
	.message-banner {
		font-size: 15px;
		padding: 10px 20px;
	}
}