@import url('https://fonts.googleapis.com/css?family=Overpass:600,700,400|Lato:900,400|Archivo+Black:400|Hind:600');

.background {
  background-image: url("/assets/img/background.png");
}

.content {
  width: calc(100% - 350px);
  margin-left: 250px;
  height: calc(100% - 60px);
  overflow-y: scroll;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgba(14, 15, 20, 0.9);
  position: fixed;
}

.content .playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.playlist .playlist-content {
  flex: auto;
}

.playlist .jacket {
  width: 300px;
  height: 300px;
  background-color: rgba(102, 102, 102, 0.6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 20px;
}

.jacket .shape {
  height: 40px;
  width: 40px;
  fill: white;
}

.infos .title {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25.0px;
  color: white;
  text-align: left;
  line-height: 39.0px;
}

.infos .modified {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  color: rgba(152, 152, 152, 1.0);
  text-align: left;
  line-height: 31.0px;
}

.infos .modifiers {
  margin-top: 15px;
  border-bottom: solid 2px #3B3A3A;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.infos .modifiers .privacy {
  display: block;
  margin-right: 30px;
  cursor: pointer;
}

.infos .modifiers .privacy button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.infos .modifiers .privacy .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.infos .modifiers .privacy .icon .shape {
  fill: rgba(0, 104, 186, 1.0);
  width: 30px;
  height: 30px;
}

.infos .modifiers .privacy .title {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20.0px;
  color: rgba(0, 104, 186, 1.0);
  text-align: left;
  line-height: 31.0px;
  text-decoration: underline;
  display: inline;
}

.infos .modifiers .edit {
  display: inline;
  margin-right: 30px;
}

.infos .modifiers .edit a {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20.0px;
  color: rgba(186, 149, 0, 1.0);
  text-align: left;
  line-height: 31.0px;
  text-decoration: underline;
}

.infos .modifiers .delete {
  display: inline;
}

.infos .modifiers .delete button {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20.0px;
  color: rgba(186, 49, 0, 1.0);
  text-align: left;
  line-height: 31.0px;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
}

.add-song {
  margin-top: 20px;
  height: 30px;
  margin-bottom: 30px;
}

.add-song:hover {
  cursor: pointer;
}

.add-song .label {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 20.0px;
  color: rgba(0, 104, 186, 1.0);
  text-align: left;
  letter-spacing: -0.2px;
  display: inline-block;
}

.add-song .icon {
  float: left;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.add-song .icon .shape {
  height: 30px;
  width: 30px;
  fill: rgba(0, 104, 186, 1.0);
}

.songs .song {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.songs .song .right {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  align-items: center;
  justify-content: space-between;
}

.songs .song img {
  border-radius: 5px;
}

.songs .song .jacket {
  border-radius: 5px;
  background-color: #D8D8D8;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-right: 15px;
}

.songs .song .info {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13.0px;
  color: rgba(152, 152, 152, 1.0);
  text-align: left;
  letter-spacing: -0.13px;
  width: calc(85% / 2);
}

.songs .song a.info {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13.0px;
  color: rgba(152, 152, 152, 1.0);
  text-align: left;
  letter-spacing: -0.13px;
  width: calc(85% / 2);
  cursor: pointer;
}

.songs .song .info a.artist {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13.0px;
  color: rgba(152, 152, 152, 1.0);
  text-align: left;
  letter-spacing: -0.13px;
  width: calc(85% / 2);
  cursor: pointer;
}

.songs .song .title {
  font-size: 18.0px;
  letter-spacing: -0.18px;
  color: white;
}

.songs .song .length {
  text-align: right;
  flex: auto;
  max-width: 15%;
}

.songs .song .public-length {
  text-align: right;
  flex: auto;
  max-width: 15%;
}

.songs .song:hover .length {
  text-align: right;
  width: calc(15% - 50px);
  margin-right: 10px;
}

#songDialog:target {
	display: flex;
	opacity: 1;
}

#nameDialog:target {
	display: flex;
	opacity: 1;
}

.song:hover .delete {
  display: inline-flex;
  border: none;
}

.song .delete {
  display: none;
  border-bottom: solid 2px #3B3A3A;
  height: 50px;
}

.song .delete button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.song .delete svg {
  width: 30px;
  height: 30px;
  transform: rotate(45.0deg);
  fill: rgba(186, 49, 0, 1.0);
}

.song-property-labels {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18.0px;
  color: rgba(152, 152, 152, 1.0);
  text-align: left;
  letter-spacing: -0.13px;
  line-height: 20.0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 60px;
  border-bottom: solid 2px #3B3A3A;
}

.song-property-labels .label {
  width: calc(85% / 2);
}

.song-property-labels .label.length {
  text-align: right;
  width: 15%;
}

@media only screen and (max-width: 945px) {
  .content .playlist {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .playlist .jacket {
    margin: 0px;
  }

  .playlist-content {
    margin-top: 40px;
    width: 100%;
  }
}

@media only screen and (max-width: 340px) {
  .playlist .jacket {
    width: calc(100%);
    height: 0;
    padding-top: calc(50%);
    padding-bottom: calc(50%);
    margin: 0px;
  }

  .playlist-content .modifiers {
    flex-direction: column;
  }

  .playlist-content .modifiers > * {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 770px) {
  .modal form button .title {
    font-size: 15px;
  }

  .modal form .field {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .modal form button {
    margin-top: 15px;
    margin-left: 0px;
  }

  .modal .field {
    width: calc(100% - 40px);
  }
}