@import url('https://fonts.googleapis.com/css?family=Overpass:600,700,400|Lato:900,400|Archivo+Black:400|Hind:600');

.background {
  background-image: url("/assets/img/background.png");
}

.content-container {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
}

.content {
  width: calc(100% - 360px);
  margin-left: 250px;
  height: 100%;
  overflow-y: scroll;
  padding-left: 75px;
  padding-right: 35px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgba(14, 15, 20, 0.9);
  position: fixed;
}

.content .playlists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: last baseline;
  margin-top: 30px;
  padding-bottom: 30px;
}

.content .playlists::after {
  flex: auto;
  content: "";
  width: auto;
  justify-content: start;
}

.content .playlists .playlist-card:hover {
  cursor: pointer;
}

.content .playlists .playlist-card {
  height: 200px;
  width: 160px;
  margin-right: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}

.content .playlists .playlist-card .title {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 31.0px;
  text-overflow: ellipsis;
  word-wrap: none;
  overflow: hidden;
  margin-top: 10px;
}

.content .playlists .playlist-card .playlist-jacket {
  background-color: rgba(102, 102, 102, 0.6);
  width: 100%;
  padding-top: calc(50% - 20px);
  padding-bottom: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.content .playlists .playlist-card .playlist-jacket .shape {
  height: 40px;
  width: 40px;
  fill: white;
}

.content .add-playlist {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.add-playlist .label {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 1.2em;
  color: rgba(0, 104, 186, 1.0);
  letter-spacing: -0.2px;
}

.add-playlist .shape {
  height: 30px;
  width: 30px;
  fill: rgba(0, 104, 186, 1.0);
  margin-right: 0.5em;
}

.content .profile {
  margin-top: 20px;
  border-bottom: solid 2px #3B3A3A;
}

.content .profile .name {
  font-family: "Hind", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20.0px;
  color: white;
  text-align: center;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

@media only screen and (max-width: 770px) {
  .content-container .content {
    width: calc(100% - 30px);
    margin: 0px;
    padding-left: 30px;
    padding-right: 0px;
    padding-top: 70px;
    height: calc(100% - 70px);
  }

  .content .playlists .playlist-card {
    margin-right: 30px;
    height: auto;
    width: 140px;
  }
}