@import url('https://fonts.googleapis.com/css?family=Overpass:600,700,400|Lato:900,400|Archivo+Black:400|Hind:600');

.background {
  background-image: url("/assets/img/background.png");
}

.content-container {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
}

.content {
  width: calc(100% - 400px);
  margin-left: 250px;
  height: calc(100% - 80px);
  overflow-y: scroll;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 30px;
  padding-top: 50px;
  background-color: rgba(14, 15, 20, 0.9);
  position: fixed;
}

.content .accounts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  overflow-y: scroll;
  margin-top: 30px;
}

.content .accounts .account {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.content .accounts .account .name {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18.0px;
  color: white;
  text-align: left;
  letter-spacing: -0.18px;
  height: auto;
  line-height: 40px;
  display: inline-block;
  border-bottom: solid 2px #3B3A3A;
  width: 100%;
}

.content .accounts .account .profile {
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 20px;
}

.search-bar form {
  height: 30px;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #353535;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.search-bar {
  margin-top: 20px;
}

.search-bar .icon {
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.search-bar .icon .shape {
  fill: #C2C2C2;
  width: 30px;
  height: 30px;
}

.search-bar .query {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 400;
  font-size: 20.0px;
  color: rgba(194, 194, 194, 1.0);
  text-align: left;
  letter-spacing: -0.2px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  flex: auto;
  margin: 0;
  width: 100%;
}

.songs .song {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.songs .song img {
  border-radius: 5px;
}

.songs .song:hover {
  background-color: rgba(50, 50, 50, 1);
}

.songs .song .jacket {
  border-radius: 5px;
  background-color: #D8D8D8;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.songs .song form {
  height: 50px;
  width: calc(100% - 60px);
}

.songs .song button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0px;
  cursor: pointer;
}

.songs .song .info {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13.0px;
  color: rgba(152, 152, 152, 1.0);
  text-align: left;
  letter-spacing: -0.13px;
  width: calc(85% / 2);
  cursor: pointer;
}

.songs .song .title {
  font-size: 18.0px;
  letter-spacing: -0.18px;
  color: white;
}

.songs .song .length {
  text-align: right;
  flex: auto;
  max-width: 15%;
}

.song-property-labels {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18.0px;
  color: rgba(152, 152, 152, 1.0);
  text-align: left;
  letter-spacing: -0.13px;
  line-height: 20.0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 60px;
  margin-bottom: 20px;
  border-bottom: solid 2px #3B3A3A;
}

.song-property-labels .label {
  width: calc(85% / 2);
}

.song-property-labels .label.length {
  text-align: right;
  width: 15%;
}

.title {
  font-family: "Overpass", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25.0px;
  color: white;
  text-align: left;
  line-height: 39.0px;
}